#For Keil
obj/
lst/
SampleCode/RTX_Blinky/Keil/Flash/

#For IAR
Debug/
Release/
settings/

# For GCC
!.cproject
!.project

.lock
.location
.markers
version.ini
.history/
.mylyn/
Packages/
.settings/
RemoteSystemsTempFiles/
Samplecode/*/*/GCC/.metadata/.plugins/*
Samplecode/*/*/packages/
Samplecode/*/GCC/.metadata/.plugins/*
Samplecode/*/packages/

!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/

#For OSX
.DS_Store

#Files
*.log
*.dep
*.bak
*.uvopt
*.uvgui.*
*.old
*.bin
!SampleCode/StdDriver/CRYPTO_SHA/IAR/dummy.bin
!SampleCode/StdDriver/FMC_MULTI_WORD_PROG/IAR/dummy.bin
!SampleCode/StdDriver/FMC_MULTI_WORD_PROG/IAR/Release/Exe/fmc_multi_word_prog.bin
!SampleCode/StdDriver/FMC_MULTI_WORD_PROG/Keil/obj/
!SampleCode/StdDriver/FMC_MULTI_WORD_PROG/Keil/obj/fmc_multi_word_prog.bin
!SampleCode/StdDriver/FMC_VECTOR_REMAP/Keil/obj/
!SampleCode/StdDriver/FMC_VECTOR_REMAP/Keil/obj/fmc_isp.bin
!SampleCode/StdDriver/FMC_VECTOR_REMAP/Keil/obj/fmc_ld_boot.bin
!SampleCode/StdDriver/FMC_VECTOR_REMAP/IAR/Release/
!SampleCode/StdDriver/FMC_VECTOR_REMAP/IAR/Release/Exe/
!SampleCode/StdDriver/FMC_VECTOR_REMAP/IAR/Release/Exe/fmc_isp.bin
!SampleCode/StdDriver/FMC_VECTOR_REMAP/IAR/Release/Exe/fmc_ld_boot.bin
!SampleCode/StdDriver/FMC_VECTOR_REMAP/IAR/dummy.bin
!SampleCode/StdDriver/FMC_VECTOR_REMAP/Keil/obj/
!SampleCode/StdDriver/FMC_VECTOR_REMAP/Keil/obj/fmc_isp.bin
!SampleCode/StdDriver/FMC_VECTOR_REMAP/Keil/obj/fmc_ld_boot.bin
!SampleCode/StdDriver/FMC_VECTOR_REMAP/GCC/fmc_ld_boot.bin
!SampleCode/StdDriver/FMC_VECTOR_REMAP/GCC/fmc_isp.bin
*.obj
*.orig
*.ok
*~
*.o
*.i
*.lst
*.map
*.d
*.crf
*.axf
*.out
*.pbi
*.cout
*.browse
*.scc
*.tra

#Large stuff
*.zip
*.gz
*.bz
*.gzip
*.7z
*.rar

